@import "./mixin.scss";
@import "./basic.scss";

%flex-spb-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$main-background-color: white;
$main-font-style: 500 14px "Playfair Display";
.main {
  background-color: $main-background-color;
}
.main-img {
  @include img(100%, 100%, cover, url(../images/main-img.png));
}
header {
  padding: 20px 40px;
  width: 100%;
  .wrapper {
    max-width: 1180px;
    margin: auto;
    @extend %flex-spb-ai;
    h4 {
      @include text("Clicker Script", 400, 35px, 100%, #ffffff);
    }
    nav {
      @extend %flex-spb-ai;
      gap: 40px;
      p {
        @include text("Playfair Display", 500, 14px, 100%, #ffffff);
      }
    }
    :nth-child(3) {
      @extend %flex-spb-ai;
      gap: 35px;
      p {
        @include text("Playfair Display", 500, 14px, 100%, #ffffff);
        text-decoration: underline;
        text-decoration-style: solid;
      }
      button {
        @include button(
          100px,
          48px,
          #f9c06a,
          24px,
          500 14px "Playfair Display",
          #1e1e1e
        );
      }
    }
  }
}

//  hero

.hero {
  padding: 95px 40px;
  width: 100%;

  .container {
    max-width: 1180px;
    margin: auto;
    .wrapper {
      max-width: 530px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h3 {
        @include text("Playfair Display", 500, 22px, 100%, #ffffff);
      }
      h1 {
        @include text("Clicker Script", 400, 220px, 100%, #ffffff);
      }
      p {
        @include text("Playfair Display", 400, 20px, 34px, #ffffff);
      }
      button {
        @include button(
          134px,
          48px,
          #f9c06a,
          24px,
          700 16px "Playfair Display",
          #1e1e1e
        );
      }
    }
  }
}

// coffee-cup

.coffee-cup {
  padding: 150px 40px;
  width: 100%;
  .wrapper {
    max-width: 1180px;
    margin: auto;
    @extend %flex-spb-ai;
    .left {
      max-width: 585px;
      h2 {
        @include text("Playfair Display", 700, 54px, 100%, #603809);
      }
      p {
        @include text("Playfair Display", 400, 20px, 34px, #707070);
      }
      button {
        @include button(
          134px,
          48px,
          #f9c06a,
          24px,
          700 16px "Playfair Display",
          #1e1e1e
        );
      }
    }
    .right {
      max-width: 500px;
      @include img(100%, 100%, cover, url(../images/coffee-cup.svg));
    }
  }
}
